<ion-header>
  <ion-navbar>
    <ion-title>Deal of the Day</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    {{dealGET.dealStart}}<br>
    {{dealGET.dealEnd}}<br>
    {{dealGET.productName}}<br>
    {{dealGET.productSubTitle}}<br>
    <img [src]="dealGET.daydealImageTeaserBox" /><br>
    <img *ngIf="dealGET.daydealImageThumb" [src]="dealGET.daydealImageThumb" /><br>
    {{dealGET.maxQuantity}}<br>
    {{dealGET.originalPrice}}<br>
    {{dealGET.daydealPrice}}<br>
    {{dealGET.availabilityPercent}}<br>
    {{dealGET.manufacturer}}<br>
    {{dealGET.manufacturerUrl}}<br>
    <ion-item *ngFor="let item of dealGET.productAttributes">
      {{item}}
    </ion-item>
    {{dealGET.productDetails}}<br>
    <ion-item *ngFor="let item of dealGET.productImages">
      <img [src]="item" />
    </ion-item>
  </ion-list>
</ion-content>
