<ion-header>
  <ion-navbar>
    <ion-title>Deal of the Day</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    {{dealPoller.dealStart}}<br>
    {{dealPoller.dealEnd}}<br>
    {{dealPoller.productName}}<br>
    {{dealPoller.productSubTitle}}<br>
    <img [src]="dealPoller.daydealImageTeaserBox" /><br>
    <img *ngIf="dealPoller.daydealImageThumb" [src]="dealPoller.daydealImageThumb" /><br>
    {{dealPoller.maxQuantity}}<br>
    {{dealPoller.originalPrice}}<br>
    {{dealPoller.daydealPrice}}<br>
    {{dealPoller.availabilityPercent}}<br>
    {{dealPoller.manufacturer}}<br>
    {{dealPoller.manufacturerUrl}}<br>
    <ion-item *ngFor="let item of dealPoller.productAttributes">
      {{item}}
    </ion-item>
    {{dealPoller.productDetails}}<br>
    <ion-item *ngFor="let item of dealPoller.productImages">
      <img [src]="item" />
    </ion-item>
  </ion-list>
</ion-content>
