<ion-header>
  <ion-navbar>
    <ion-title>Deal of the Week</ion-title>
  </ion-navbar>
</ion-header>

<!-- Use directives for daydeal and weekdeal: https://stackoverflow.com/questions/39328623/how-to-reuse-html-template-within-the-same-view-and-controller-in-angularjs -->
<ion-content padding>
  <ion-list>
    {{dealPoller.dealStart}}<br>
    {{dealPoller.dealEnd}}<br>
    {{dealPoller.productName}}<br>
    {{dealPoller.productSubTitle}}<br>
    {{dealPoller.daydealImageTeaserBox}}<br>
    {{dealPoller.daydealImageThumb}}<br>
    {{dealPoller.maxQuantity}}<br>
    {{dealPoller.originalPrice}}<br>
    {{dealPoller.daydealPrice}}<br>
    {{dealPoller.availabilityPercent}}<br>
    {{dealPoller.manufacturer}}<br>
    {{dealPoller.manufacturerUrl}}<br>
    <ion-item *ngFor="let item of dealPoller.productAttributes">
      {{item}}
    </ion-item>
    {{dealPoller.productDetails}}<br>
    <ion-item *ngFor="let item of dealPoller.productImages">
      <img [src]="item" />
    </ion-item>
  </ion-list>
</ion-content>
